/* Login
------------------------------------------------------- */
.login_group {
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.login_group__elements {
    width: 500px;
}

.login__element {
    display: flex;
    justify-content: space-between;
}

/* Buttons
------------------------------------------------------- */
.btn__login {
    background-color: blue;
}

.btn__forgot {
    background-color: darkred;
}

/* Fields
------------------------------------------------------- */
.input_field {
    width: 282px;
    height: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
}