/* Intro
------------------------------------------------------- */
.name {
    font-size: 36px;
}

.description {
    font-size: 20px;
    padding-bottom: 10px;
}

/* Reset Password
------------------------------------------------------- */
.reset_password_group {
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.btn__reset_password {
    background-color: darkgreen;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn__reset {
    background-color: darkgreen;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.input_field {
    width: 282px;
    height: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
}

.reset_password_group__elements {
    width: 500px;
}

.reset_password_element {
    display: flex;
    justify-content: space-between;
}
