{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/login.css') }}">
{% endblock %}

{% block content %}
    <div class="intro">
        <h1 class="name">Login page!</h1>
    </div>
    <div class="intro">
        {% for message in get_flashed_messages() %}
            <p class="description">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="login_group">
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="login_group__elements">
                <div class="login_element">
                    {{ form.email.label(class="description") }}
                    {{ form.email(class="input_field") }}
                </div>
                <div class="login_element">
                    {{ form.password.label(class="description") }}
                    {{ form.password(class="input_field") }}
                </div>
                <a class="btn btn__forgot" href="{{ url_for('auth.reset_password') }}">Forgot passsword?</a>
                <input type="submit" class="btn btn__login">
            </div>
        </form>
    </div>
{% endblock %}
