{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="../../static/css/auth/login.css">
{% endblock %}

{% block content %}
    <div class="intro">
        <h1 class="name">Login page!</h1>
    </div>
    <div class="intro">
        {% for message in get_flashed_messages() %}
            <p class="description">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="login_group">
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label(class="description") }}
                {{ form.email(class="input_field") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="description") }}
                {{ form.password(class="input_field") }}
            </div>
            <input type="submit" class="btn btn__login" value="Login">
        </form>
    </div>
{% endblock %}
