{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/new_password.css') }}">
{% endblock %}

{% block content %}
    <div class="intro">
        <h1 class="name">New Password</h1>
    </div>
    <div class="intro">
        {% for message in get_flashed_messages() %}
            <p class="description">{{ message }}</p>
        {% endfor %}
        {% if form.password.errors %}
            <p class="description error">{{ form.password.errors[0] }}</p>
        {% endif %}
        {% if form.password_confirm.errors %}
            <p class="description error">{{ form.password_confirm.errors[0] }}</p>
        {% endif %}
    </div>
    <div class="new_password_group">
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="new_password_group__elements">
                <div class="new_password_element">
                    {{ form.password.label(class="description") }}
                    {{ form.password(class="input_field") }}
                </div>
                <div class="new_password_element">
                    {{ form.password_confirm.label(class="description") }}
                    {{ form.password_confirm(class="input_field") }}
                </div>
                <input type="submit" class="btn btn__reset">
            </div>
        </form>
    </div>
{% endblock %}
