{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/new_password.css') }}">
{% endblock %}

{% block content %}
    <div class="intro">
        <h1 class="intro__head">New Password</h1>
        {% for message in get_flashed_messages() %}
            <p class="description">{{ message }}</p>
        {% endfor %}
        {% for field in form %}
            {% for error in field.errors %}
                <p class="description error">{{ error }}</p>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="new_password_group">
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="new_password_group__elements">
                <div class="new_password__element">
                    {{ form.password.label(class="description") }}
                    {{ form.password(class="input_field") }}
                </div>
                <div class="new_password__element">
                    {{ form.password_confirm.label(class="description") }}
                    {{ form.password_confirm(class="input_field") }}
                </div>
                <input type="submit" class="btn btn__reset">
            </div>
        </form>
    </div>
{% endblock %}
