{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/reset_password.css') }}">
{% endblock %}

{% block content %}
    <div class="intro">
        <h1 class="name">Reset Password</h1>
    </div>
    <div class="intro">
        {% for message in get_flashed_messages() %}
            <p class="description">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="reset_password_group">
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="reset_password_group__elements">
                <div class="reset_password_element">
                    {{ form.email.label(class="description") }}
                    {{ form.email(class="input_field") }}
                </div>
                <input type="submit" class="btn btn__reset_password" value="Reset Password">
            </div>
        </form>
    </div>
{% endblock %}
