{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <div class="intro">
        <h1 class="intro__head">Hello, this is second verify task!</h1>
        {% if user.is_authenticated %}
            <p class="description">Hello {{ user.name }} {{ surname }}</p>
        {% else %}
            <p class="description">You're not logging</p>
        {% endif %}
        {% for message in get_flashed_messages() %}
            <p class="description">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="nav_bar">
        {% if user.is_authenticated %}
            {% if user.has_role('admin') %}
                <a class="btn btn__account" href="{{ url_for('admin_panel.admin_panel') }}">Admin Panel</a>
            {% endif %}
            {% if user.has_role('user') or  user.has_role('admin')%}
                <a class="btn btn__account" href="{{ url_for('user_panel.user_panel') }}">Account</a>
            {% endif %}
            <a class="btn btn__logout" href="{{ url_for('auth.logout') }}">Logout</a>
        {% else %}
            <a class="btn btn__login" href="{{ url_for('auth.login') }}">Login</a>
            <a class="btn btn__register" href="{{ url_for('auth.register') }}">Register</a>
        {% endif %}
    </div>
{% endblock %}