/* btn
------------------------------------------------------- */
.admin_panel {
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.account_element, .admin_panel__header {
    border-radius: 10px;
    width: 90%;
    background-color: #F3F3F3;
    text-align: center;
    display: flex;
    flex-flow: row;
    margin-bottom: 10px;
}

.account_element__inactive {
    background-color: #FFC0C0;
}

.add_user {
    justify-content: center;
    align-items: center;

    font-family: inherit;
    font-size: 13px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    min-height: 50px;
}

.admin_panel__header {
    background-color: #D9D9D9;
}

.admin_header__element {
    width: 20vw;
    justify-content: center;
}

.role_elements {
    display: flex;
    flex-direction: row;
    width: 20vw;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.role__element {
    height: 22px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 4px;
    color: #483838;
}

/* Buttons
------------------------------------------------------- */
.btn__lock, .btn__unlock, .btn__add, .btn__sub, .btn__delete {
    width: 22px;
    height: 22px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    object-fit: fill;
    background-size: contain;
    background-repeat: no-repeat;
}

.btn__lock {
    background-color: red;
    background-image: url("../../img/lock.png");
}

.btn__delete {
    background-color: transparent;
    background-image: url("../../img/delete.png");
    display: inline-block;
}

.btn__unlock {
    background-color: green;
    background-image: url("../../img/unlock.png");
}

.btn__add {
    background-image: url("../../img/add.png");
}

.btn__sub {
    background-image: url("../../img/subtract.png");
}
