{% extends "base.html" %}

{% block title %}Account{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_panel/admin_panel.css') }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/admin_panel.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="intro">
        <h1 class="intro__head">Admin page</h1>
        {% for message in get_flashed_messages() %}
            <p class="description">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="admin_panel">
        <h2>User list</h2>
        <div class="admin_panel__header">
            <p class="admin_header__element">Name</p>
            <p class="admin_header__element">Email</p>
            <p class="admin_header__element">Roles</p>
            <p class="admin_header__element">Actions</p>
        </div>
        {% for user in users %}
            <div class="account_element {% if not user.is_active %}account_element__inactive{% endif %}">
                <p class="admin_header__element">{{ user.name }} {{ user.surname }}</p>
                <p class="admin_header__element">{{ user.email }}</p>
                <p class="admin_header__element">{{ user.roles }}</p>
                <div class="role_elements">
                    {# TODO:Create one element and then clone hix#}
                    <select class="role__element" data-user-id="{{ user.id }}">
                        {% for role in roles %}
                            <option value="{{ role.name }}">{{ role.name }}</option>
                        {% endfor %}
                    </select>
                    <a class="btn__add"
                       href="{{ url_for('admin_panel.add_permission', user_id=user.id, role_name='ROLE_NAME') }}"
                       data-user-id="{{ user.id }}"></a>
                    <a class="btn__sub"
                       href="{{ url_for('admin_panel.cancel_permission', user_id=user.id, role_name='ROLE_NAME') }}"
                       data-user-id="{{ user.id }}"></a>
                    {% if user.is_active %}
                        <a class="btn__unlock" href="{{ url_for('admin_panel.deactivate', user_id=user.id) }}">
                        </a>
                    {% else %}
                        <a class="btn__lock" href="{{ url_for('admin_panel.activate', user_id=user.id) }}">
                        </a>
                    {% endif %}
                    <a class="btn__delete"
                       href="{{ url_for('admin_panel.delete_user', user_id=user.id) }}"></a>
                </div>
            </div>
        {% endfor %}
        <a class="account_element add_user" href="{{ url_for('admin_panel.force_create_user') }}">Add new user</a>
    </div>
{% endblock %}